OPENAI_API_KEY="key-here"
DEEPSEEK_API_KEY="key-here"
MS_PASSWORD="password-here"

GOOGLE_EMAIL="gerardo.belot@gmail.com"
GOOGLE_PASS="password"

URL_API="https://webhook.site/da11f8eb-7965-4c07-921d-419732540da6"

